{% extends "base.html" %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#id_mood').after(' <a href="#" id="extend_mood">choose by image <span id="triangle">▶</span></a>');
	$('#extend_mood').click(function() {
		if ($('#mood_selector').length > 0)
		{
			$('#mood_selector').remove();
			$('#triangle').html('▶');
			return false;
		}
		$('#triangle').html('▼');
		$(this).after('<div id="mood_selector"></div>');
		{% for mood in moods %}
		var img = $('<img>').attr('src', '{{STATIC_URL}}moods/{{mood}}.png');
		img.click(function() {
			$('#id_mood').val('{{mood}}');
			$('#mood_selector').remove();
			$('#triangle').html('▶');
			return false;
		});
		{% if mood == "forever-alone" %}
		img.css({
			position: 'absolute',
			bottom: '0px',
			right: '0px'
		});
		{% endif %}
		$('#mood_selector').append(img);
		{% endfor %}
		return false;
	});
});
--></script>
{% endblock %}

{% block content %}
<div><a href="{% url "list_twats" %}">back</a></div>

<form method="POST" action="">
<table>{{form}}</table>
{% csrf_token %}
<input type="submit">
</form>
{% endblock %}
